@use "../../styles" as *;

.menu_icon {
  @include accessibility(get-color(neutral, normal));

  background-color: transparent;
  color: get-color(neutral, dark);
  cursor: pointer;
  display: none;
}

.list {
  background-color: get-color(neutral, lighter);
  border-radius: 0.25rem;
  display: none;
}

@include laptop {
  .menu_icon {
    display: flex;
  }

  .list {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 1rem;
    top: 5rem;
    z-index: 1;
  }
}
