@use "../../styles/animations.scss" as *;
@use "../../styles/media-queries.scss" as *;
@use "../../styles/theme.scss" as *;
@use "../../styles/utils.scss" as *;

.menu_icon {
  background-color: transparent;
  border-radius: 0.25rem;
  color: $secondary-darker-color;
  cursor: pointer;
  display: none;
  transition: box-shadow 0.15s, color 0.15s;

  &:focus-visible {
    box-shadow: 0 0 0 0.25rem $secondary-dark-color;
  }

  &:hover {
    color: $secondary-dark-color;
  }
}

.list {
  background-color: $secondary-light-color;
  border-radius: 0.25rem;
  display: none;
}

.item {
  display: flex;
}

.link {
  border-radius: 0.25rem;
  color: $secondary-darker-color;
  font-weight: 600;
  padding: 1rem;
  transition: box-shadow 0.15s, color 0.15s;
  width: 100%;

  &:focus-visible {
    background-color: $secondary-color;
    box-shadow: 0 0 0 0.25rem $secondary-dark-color;
  }

  &:hover {
    background-color: $secondary-color;
    color: $primary-color;
  }
}

@include media-query($laptop) {
  .menu_icon {
    display: flex;
  }

  .list {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 1rem;
    top: 5rem;
    z-index: 1;
  }
}
