@use "../../styles" as *;

.section {
  display: flex;
  justify-content: center;
}

.section_container {
  display: flex;
  width: 75rem;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  max-width: 36.563rem;
}

@include title-box;

.description {
  color: get-color(neutral, normal);
  line-height: 26px;
  margin-right: 5.625rem;
}

.form {
  display: flex;
  height: 4.688rem;
}

.input_container {
  background-color: get-color(neutral, lighter);
  box-shadow: 10px 10px 30px #0000000f;
  display: flex;
  flex: 2;
}

.icon {
  display: flex;
  padding: 0 1rem;
}

.input {
  @include accessibility(get-color(primary, normal));

  color: get-color(neutral, normal);
  font-size: 1rem;
  padding: 1.875rem;
  padding-left: 0;
  width: 100%;

  &:hover {
    color: get-color(neutral, normal);
  }
}

.button {
  @include accessibility(get-color(neutral, normal));

  background-color: get-color(primary, normal);
  box-shadow: 10px 10px 30px #ffd34d6c;
  color: get-color(neutral, lighter);
  cursor: pointer;
  flex: 1;
  font-size: 1rem;
}

.image {
  display: flex;
  flex: 1;
  justify-content: center;
}
