// Color palette
$primary-color: #ffcb47;

$secondary-darker-color: #202020;
$secondary-dark-color: #8d8d8d;
$secondary-color: #f0f0f0;
$secondary-light-color: #ffffff;

// Text fonts
$primary-font: "Montserrat";
$secondary-font: "Elsie Swash Caps";
$default-font: sans-serif;

// Breakpoints
$desktop: 2560px;
$laptopL: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobileL: 425px;
$mobileM: 375px;
$mobileS: 320px;
