@use "../../styles/animations.scss" as *;
@use "../../styles/media-queries.scss" as *;
@use "../../styles/theme.scss" as *;
@use "../../styles/utils.scss" as *;

.container {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
}

.title {
  color: $secondary-darker-color;
  font-family: $secondary-font;
  font-size: 5.125rem;
}

.subtitle {
  color: $secondary-dark-color;
  font-size: 1.375rem;
  font-weight: 600;
}
